<!-- Footer -->
<section class="footer_section bg-footer mt-auto">
    <footer class="footer">
      <div class="container grid grid-3">
          <div>
              <h1>IEEE VJTI</h1>
              <div class="line1"><img src="./images/ieee_smallest.png" alt="IEEE Logo" loading="lazy"  id="ieee_smallest">
            </div>
              
          </div>
         
          <div class="info">
            <h3>
             <a href="#">
              Become a Member </a>
            </h3>
            <p>Get notified with the latest updates in the technical world, articles, seminars and workshops. </p>
          </div>
          <div class="social">
              <h3 >Connect With Us</h3>
              <a href="https://www.linkedin.com/company/ieee-vjti"><i class="fab fa-linkedin-in fa-2x"></i></a>
              <a href="https://www.instagram.com/ieeevjti/"><i class="fab fa-instagram fa-2x"></i></a>
              <a href="ieeevjtiofficial@gmail.com"><i class="fas fa-envelope-square fa-2x"></i></a>
              <a href="https://www.youtube.com/channel/UCXkEZSsh_RWiBfrJIPY27vg"><i class="fab fa-youtube fa-2x"></i></a>
              <p><a href="https://issuu.com/ieeevjti">Issuu</a>
                <br>
                <a href="https://linktr.ee/ieeevjti">LinkTree</a>
              </p>
          </div>
      </div>
      <hr class="horizontal_line">
      <p class="text-center">Copyright &copy;IEEE VJTI 2021 </p>

  </footer>
  </section>