<% layout('layouts/boilerplate') %>
    <main class="container-fluid mt-3 bg-dark">
        <!-- I have removed container from the class as it was showing unexpected margin -->
        <h1 class="text-center title">Contact Us</h1>
        <div class="row">
            <div class="col-4 offset-4">
                <div class="card my-3">
                    <div class="card-header text-center">
                        <h1>Thank you!</h1>
                    </div>
                    <div class="card-body text center">

                        <p class="text-center">Your form submission has been received.</p>

                        <p class="text center">
                            <a id="back-link" href="/contact">← Back to our site</a>
                        </p>
                    </div>
                </div>

            </div>
        </div>
        </div>
    </main>