main{
    background-color: #2d3748;
}

#card-title{
    font-weight: bold;
}

#card{
    /* background-color: gray; */
    /* background-color: #e9eef1; */
    background-color:#f7fafc;
    border-radius: 0.7rem;
}

#username{
    background-color: #d4d9dd;
}

/* @media(max-width: 1200px){
    #card {
        font-weight: 100;
        font-size: 3rem;
    }
} */